* {
  box-sizing: border-box;
}

body {
  font-family: Nunito, system-ui, 'Helvetica Neue', helvetica, arial, sans-serif;
  touch-action: none;
  padding: 2rem 2rem 0;
  margin: 0;
  font-variant-numeric: tabular-nums;
  text-align: center;
  line-height: 1.25;
  color: #1f2d3d;
}

h1,
h2 {
  font-weight: 900;
  margin: 0;
  line-height: 1;
}
h1 {
  color: #ec3737;
}
h2 {
  color: #696969;
}

h1 + h2 {
  margin-top: 0.5rem;
}

p {
  max-width: 600px;
  margin: 0.5rem auto 2rem;
}

h1 span,
h2 span {
  letter-spacing: -0.02em;
}

.prizelist {
  font-size: 1.5rem;
  color: #696969;
}

.winnerModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.winnerModal input {
  background-color: #e0e6ed;
}

.winnerModalContent {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 2rem;
  border-radius: 6px;
  width: 50%;
}

.info {
  margin-top: 3rem;
  text-align: center;
}

.infoParagraph {
  max-width: 28rem;
  margin: auto;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem 0;
  width: 20%;
  max-width: 12rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 50%;
  touch-action: manipulation;
  transition: ease-out all 0.0125s;
}

img:active {
  transform: scale(1.05);
}

@media (max-width: 48em) {
  img {
    width: 100%;
  }

  .winnerModalContent {
    width: 80%;
  }

  .banner {
    width: 40%;
  }

  .globalCount {
    padding-top: 75px;
  }
}

.hc {
  padding: 1rem;
  width: 100vw;
  margin: 2rem -2rem 0;
  background-color: #f9fafc;
}

.hc-inner {
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 12rem;
  max-width: 48rem;
  margin: 0 auto;
  color: white;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.375),
      rgba(0, 0, 0, 0.625)
    ),
    url('https://cdn.glitch.com/a7c7e97e-66a8-4b5a-b211-604e9ee5ce31%2Fwindy_3.jpeg?v=1565237405644');
  background-size: cover;
  background-postion: center center;
}

.hc-container {
  max-width: 24rem;
}
.hc-container h2 {
  margin-bottom: 0.75rem;
  font-size: 2rem;
  color: inherit;
}
.hc-container h2 span {
  background-color: #ec3737;
  background: linear-gradient(
    -100deg,
    rgba(236, 55, 55, 0.95),
    rgba(236, 55, 55, 0.8)
  );
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 6px;
  text-shadow: none;
}
.hc-container p {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}
.hc-container label {
  font-size: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5rem 0;
}
label {
  font-weight: 700;
  margin-bottom: 1rem;
}
input {
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  height: 2rem;
  display: block;
  -webkit-appearance: none;
  padding: 0.25rem 0.5rem;
  width: 100%;
  line-height: 1.5;
  border-radius: 6px;
  font-size: 1rem;
}
button {
  display: block;
  -webkit-appearance: none;
  border: 0;
  border-radius: 6px;
  display: inline-block;
  background-color: #ec3737;
  font: inherit;
  font-weight: 900;
  color: white;
  margin: 0;
  height: 2rem;
  line-height: 1.75;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
p.small {
  font-size: 0.875rem;
}
mark {
  text-shadow: none;
  border-radius: 1em;
  background: linear-gradient(
    -100deg,
    rgba(236, 55, 55, 0.5),
    rgba(236, 55, 55, 0.875),
    rgba(236, 55, 55, 0.75)
  );
  padding: 0 0.5em;
  margin-left: -0.5em;
  font-weight: 700;
  color: inherit;
}

@media (max-width: 32em) {
  .hackclub {
    display: none;
  }
}

@media (min-width: 32em) {
  .hc,
  .hc-inner {
    padding: 2rem;
  }
  form {
    flex-direction: row;
    align-items: flex-end;
  }
  label {
    margin-bottom: 0;
    margin-right: 1rem;
    min-width: 18rem;
  }
  .hackclub {
    display: none;
  }
}

@media (min-width: 48em) {
  .hc {
    padding: 4rem;
  }
  .banner {
    display: none;
  }
  .hackclub {
    display: block;
    color: white;
    font-size: 12rem;
    margin-top: 2rem;
  }
  .blob {
    display: none;
  }
  body {
    background-image: linear-gradient(to right, rgb(228, 115, 45), 25%, rgb(228,45,66) 50%, rgb(228, 45, 158));
  }
  .globalCount {
    font-size: 3rem;
    color: white;
  }
  .localCount {
    display: none;
  }
  .info {
    display: none;
  }
}
